To utilize all the code in this repository, please use the following softwares and versions:

Fiji - tested with version ImageJ 1.54F Java 1.8.0_322 64-bit on operating system: windows 10 pro 19042.1165
Fiji plugins required:
-Color histogram
-gray morphology
-image5d
-lsmreader
-lsmtoolbox
-morpholibj
-rohust automatic threshold selection
-sync windows
-sync measure 3d
-about trakEM2
-about bUnwarpJ
-bio-formats plugins
-3D imageJ suite


Python - tested with version Python 3.9.13 on operating system: mac OS 13.4 (22F66)

Rstudio - tested with version Version 2024.04.2+764 (2024.04.2+764) on operating system: mac OS 13.4 (22F66) 
  - also tested with Rstudio Version 1.4.1106
          
R - tested with version R version 4.3.2 (2023-10-31) on operating system: mac OS 13.4 (22F66)
  - also tested with version: R version 4.0.5 x86_64 windows

MetaXpress - tested with version 6.5.2.351 2018 on operating system: Windows 10 
